
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button id="btnJsonTest">點我</button>
@section Scripts {

    <script>
        alert("1");
    $('#btnJsonTest').bind('click', function () {
        $.getJSON('/AR/JsonTest', '', function (data) {
            console.log(data);
        })
    });
    </script>

}